@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    @*     <link href="/css/Review.css" rel="stylesheet">
    *@
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">DishDetective</a></div>
            <ul class="links">
                <li><a href="home">Home</a></li>
                <li><a href="restaurant">Restaurants</a></li>
                <li><a href="reservation">Reservations</a></li>
                <li><a href="review">Reviews</a></li>
            </ul>
            <a href="#" class="action_btn">Login</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="home">Home</a></li>
            <li><a href="restaurant">Restaurants</a></li>
            <li><a href="reservation">Reservations</a></li>
            <li><a href="review">Reviews</a></li>
            <li><a href="#" class="action_btn">Login</a></li>
        </div>
    </header>
    <h1>Edit Review</h1>
    <div>
        <label>Price Rating</label>
        <input type="text" />
        <br />
        <label>Service Rating</label>
        <input type="text" />
        <br />
        <label>Atmosphere Rating</label>
        <input type="text" />
        <br />
        <label>Food Rating</label>
        <input type="text" />
        <br />
        <label>Description</label>
        <input type="text" />
    </div>


    </body>
