@using ProjectFive.AppFunctions;
@model IEnumerable<ProjectFive.Models.ReviewModel>
@inject CookieHandler Handler

@{
    ViewData["Title"] = "Review";
    
}
<head>
   @*  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> *@
@*     <link href="/css/Review.css" rel="stylesheet">
 *@
</head>
<body>
    @{
        Context.Request.Cookies.TryGetValue("UserCookie", out string value);
        string role = "";
        if (value != null)
        {
            role = Handler.ReadCookie("Role", value);
        }
    }
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">DishDetective</a></div>
            <ul class="links">
                <li><a asp-action="Restaurants" asp-controller="Restaurant">Home</a></li>
                <li><a asp-action="Restaurants" asp-controller="Restaurant">Restaurants</a></li>
                @{
                    if (role == "Representative")
                    {
                        <li><a asp-action="Representative" asp-controller="Reservation">Reservations</a></li>
                        <li><a asp-action="Rep" asp-controller="Review">Reviews</a></li>
                    }
                    else if (role == "Reviewer")
                    {
                        <li><a asp-action="Review" asp-controller="Review">Reviews</a></li>
                    }
                }

            </ul>
            @{
                if (value != null)
                {
                    <a asp-action="Logout" asp-controller="Login" class="action_btn">Logout</a>
                }
                else
                {
                    <a asp-action="Login" asp-controller="Login" class="action_btn">Login</a>
                }
            }
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="home">Home</a></li>
            <li><a href="restaurant">Restaurants</a></li>
            <li><a href="reservation">Reservations</a></li>
            <li><a href="review">Reviews</a></li>
            <li><a href="#" class="action_btn">Login</a></li>
        </div>
    </header>
    <br />
    <br />


    <h1>All Reviews</h1>
     <div class="wrapper">
        <form method="post" id="review">
            <h1 style="color:#fff;">Your Reviews</h1>
           
            <div id="reviewTable">
                <partial name="_DisplayReviewPartial" />
            </div>
           
           
           
        <div class="row">
          
                <button asp-action="Edit" asp-controller="Review" type="submit" class="btn btn-primary">Edit Reviews</button>
            
        </div>
        <br />
            <div class="row">
                <button asp-action="DeleteReview" asp-controller="Review" type="submit" class="btn btn-primary">Delete Review</button>
            </div>
        </form> 
    </div>

    <script>
        //document.addEventListener('DOMContentLoaded', function () {
        //    RefreshTable();
        //});

        //function RefreshTable() {
        //    fetch('/Review/Review')
        //        .then(function (response) {
        //            return response.text();
        //        })
        //        .then(function (html) {
        //            document.getElementById('reviewTable').innerHTML = html;
        //        });
        //}
    </script>
</body>

